.category-view {
    margin: 10px
}

.category-view .member {
    display: inline-block;
    width: calc(25% - 10px);
    padding: 5px;
    margin: 5px;
    background: rgb(255, 255, 255)
}

.category-view .creator {
    padding: 5px;
    margin: 5px;
    background: rgb(255, 255, 255)
}

.category-view .member .action {
    text-align: right
}

.category-view .member.owner {
    border-left-width: 10px
}
