.category-view {
    margin: 10px
}

.category-view .member {
    display: inline-block;
    width: calc(25% - 10px);
    padding: 5px;
    margin: 5px;
    border: 1px solid rgb(0, 86, 134)
}

.category-view .creator {
    padding: 5px;
    margin: 5px;
    background: white
}

.category-view .owner {
    text-align: right
}
